<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>

<!-- Google Fonts -->
<link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
<link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
<link th:href="@{https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap}" rel="stylesheet">
<link th:href="@{https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap}" rel="stylesheet">

<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}">

<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css}" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- css -->
<link rel="stylesheet" th:href="@{/css/chat.css}">

<!-- char-area -->
<section class="message-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="chat-area">
                    <!-- chatlist -->
                    <div class="chatlist">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="chat-header">
                                    <!-- 내 프로필 -->
                                    <div class="row heading">
                                        <div class="col-sm-3 col-xs-3 heading-avatar">
                                            <div class="heading-avatar-icon align-items-center d-flex">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                                                <div class="ms-3">
                                                    <h3 class="chat-nick">홍길동</h3>
                                                    <p class="chat-simple-message">상태 메시지입니다.</p>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-1 col-xs-1  heading-dot">
                                            <i class="fa fa-ellipsis-v fa-2x" aria-hidden="true" style="font-size: 23px; margin-top: 6px;"></i>
                                        </div>
                                    </div>
                                    <!-- 검색바 -->
                                    <div class="msg-search">
                                        <input type="text" class="form-control" id="inlineFormInputGroup"
                                               placeholder="Search" aria-label="search">
                                        <a class="add" href="#">
                                            <img class="img-fluid"
                                                 th:src="@{https://mehedihtml.com/chatbox/assets/img/add.svg}"
                                                 alt="add">
                                        </a>
                                    </div>

                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="Open-tab" data-bs-toggle="tab"
                                                    data-bs-target="#Open" type="button" role="tab" aria-controls="Open"
                                                    aria-selected="true">
                                                Open
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="Closed-tab" data-bs-toggle="tab"
                                                    data-bs-target="#Closed" type="button" role="tab"
                                                    aria-controls="Closed" aria-selected="false">
                                                Closed
                                            </button>
                                        </li>
                                    </ul>
                                </div>

                                <div class="modal-body">
                                    <!-- chat-lists -->
                                    <div class="chat-lists">
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="Open" role="tabpanel"
                                                 aria-labelledby="Open-tab">

                                                <!-- chat 리스트 -->
                                                <div class="chat-list">
                                                    <!-- chat 리스트 반복 원본 -->
                                                    <!-- <a href="#" class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 circle-image">
                                                            <img class="img-fluid circle-profile"
                                                                 src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                                 alt="user img">
                                                            <span class="active"></span>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h3>홍길동</h3>
                                                            <p>front end developer</p>
                                                        </div>
                                                    </a> -->

                                                    <!-- chat 리스트 반복 -->
                                                    <a href="#" class="d-flex align-items-center" th:each="num : ${#numbers.sequence(1,5)}">
                                                        <div class="flex-shrink-0 circle-image">
                                                            <img class="img-fluid circle-profile"
                                                                 src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                                 alt="user img">
                                                            <span class="active"></span>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h3>홍길동</h3>
                                                            <p>front end developer</p>
                                                        </div>
                                                    </a>
                                                    <!-- // chat 리스트 반복 -->
                                                </div>
                                                <!-- chat-list -->
                                            </div>

                                            <!-- 닫힌 chat 리스트 -->
                                            <div class="tab-pane fade" id="Closed" role="tabpanel"
                                                 aria-labelledby="Closed-tab">

                                                <div class="chat-list">
                                                    <!-- chat 리스트 반복 -->
                                                    <a href="#" class="d-flex align-items-center" th:each="num : ${#numbers.sequence(1,5)}">
                                                        <div class="flex-shrink-0 circle-image">
                                                            <img class="img-fluid circle-profile"
                                                                 src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                                 alt="user img">
                                                            <span class="active"></span>
                                                        </div>
                                                        <div class="flex-grow-1 ms-3">
                                                            <h3>홍길동</h3>
                                                            <p>front end developer</p>
                                                        </div>
                                                    </a>
                                                    <!-- // chat 리스트 반복 -->
                                                </div>
                                            </div>
                                            <!-- // 닫힌 chat 리스트 -->
                                        </div>

                                    </div>
                                    <!-- chat-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- chatlist -->
                    <!-- chatbox -->
                    <div class="chatbox">
                        <div class="modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="msg-head">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex align-items-center">
                                                    <span class="chat-icon">
                                                        <img class="img-fluid"
                                                             src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg"
                                                             alt="image title">
                                                    </span>

                                                <!-- 대화상대 header -->
                                                <div class="flex-shrink-0 circle-image">
                                                    <img class="img-fluid circle-profile"
                                                         src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                                         alt="user img">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <h3>홍길동</h3>
                                                    <p>front end developer</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <ul class="moreoption">
                                                <li class="navbar nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="#" role="button"
                                                       data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                                        <li>
                                                            <hr class="dropdown-divider">
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="modal-body">
                                    <div class="msg-body">
                                        <ul>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:06 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:16 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>yes!</p>
                                                <span class="time">10:20 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:26 am</span>
                                            </li>
                                            <li class="sender">
                                                <p> Hey, Are you there? </p>
                                                <span class="time">10:32 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>How are you?</p>
                                                <span class="time">10:35 am</span>
                                            </li>
                                            <li>
                                                <div class="divider">
                                                    <h6>Today</h6>
                                                </div>
                                            </li>

                                            <li class="repaly">
                                                <p> yes, tell me</p>
                                                <span class="time">10:36 am</span>
                                            </li>
                                            <li class="repaly">
                                                <p>yes... on it</p>
                                                <span class="time">junt now</span>
                                            </li>

                                        </ul>
                                    </div>
                                </div>


                                <div class="send-box">
                                    <form action="">
                                        <input type="text" class="form-control" aria-label="message…"
                                               placeholder="Write message…">

                                        <button type="button">
                                            <i class="fa fa-paper-plane" aria-hidden="true"></i> Send
                                        </button>
                                    </form>

                                    <div class="send-btns">
                                        <div class="attach">
                                            <div class="button-wrapper">
                                                    <span class="label">
                                                        <img class="img-fluid"
                                                             src="https://mehedihtml.com/chatbox/assets/img/upload.svg"
                                                             alt="image title"> attached file
                                                    </span><input type="file" name="upload" id="upload"
                                                                  class="upload-box" placeholder="Upload File"
                                                                  aria-label="Upload File">
                                            </div>

                                            <select class="form-control" id="exampleFormControlSelect1">
                                                <option>Select template</option>
                                                <option>Template 1</option>
                                                <option>Template 2</option>
                                            </select>

                                            <div class="add-apoint">
                                                <a href="#" data-toggle="modal" data-target="#exampleModal4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                         viewbox="0 0 16 16" fill="none">
                                                        <path d="M8 16C3.58862 16 0 12.4114 0 8C0 3.58862 3.58862 0 8 0C12.4114 0 16 3.58862 16 8C16 12.4114 12.4114 16 8 16ZM8 1C4.14001 1 1 4.14001 1 8C1 11.86 4.14001 15 8 15C11.86 15 15 11.86 15 8C15 4.14001 11.86 1 8 1Z"
                                                              fill="#7D7D7D" />
                                                        <path d="M11.5 8.5H4.5C4.224 8.5 4 8.276 4 8C4 7.724 4.224 7.5 4.5 7.5H11.5C11.776 7.5 12 7.724 12 8C12 8.276 11.776 8.5 11.5 8.5Z"
                                                              fill="#7D7D7D" />
                                                        <path d="M8 12C7.724 12 7.5 11.776 7.5 11.5V4.5C7.5 4.224 7.724 4 8 4C8.276 4 8.5 4.224 8.5 4.5V11.5C8.5 11.776 8.276 12 8 12Z"
                                                              fill="#7D7D7D" />
                                                    </svg>
                                                    Appoinment
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chatbox -->


            </div>
        </div>
    </div>
</section>
<!-- char-area -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/chat.js"></script>

</body>
</html>